.container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 40rem;
    margin-top: 5vh;
}

.login-tab {
    display: flex;
    width: 20rem;
}

.singup-login {
    width: 40rem;
}

.login-image {
   width: 16rem;
   height: 10rem;
}

.login-formLabel {
    margin-top: 1rem;
}

.login-formInput {
    margin-top: 1rem;
}

.login-cardFooter {
    display: flex;
    justify-content: space-around;
    margin: 0 20px 20px 20px;
}

.login-buttonGroup {
    display: flex;
    justify-content: space-around;
}